<script defer data-domain="skowronski.tech" data-api="/LLcuOtUmfkzIaOxz/event" src="https://skowronski.tech/LLcuOtUmfkzIaOxz/script.js"></script>
<style type="text/css">
.rainbow {
  position: fixed;
  z-index: 999999;
  width: 100%;
  height: 0.5%;
  left:  0;
}
html {
  padding-bottom: 3%;
}
#rainbow_red    { bottom: 2.50%; background: #FF0018; }
#rainbow_orange { bottom: 2.00%; background: #FFA52C; }
#rainbow_yellow { bottom: 1.50%; background: #FFFF41; }
#rainbow_green  { bottom: 1.00%; background: #008018; }
#rainbow_blue   { bottom: 0.50%; background: #0000F9; }
#rainbow_violet { bottom: 0.00%; background: #86007D; }
</style>
<div id="rainbow_red"    class="rainbow"></div>
<div id="rainbow_orange" class="rainbow"></div>
<div id="rainbow_yellow" class="rainbow"></div>
<div id="rainbow_green"  class="rainbow"></div>
<div id="rainbow_blue"   class="rainbow"></div>
<div id="rainbow_violet" class="rainbow"></div>
